<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>

<!-- 关于页 -->
<body>
<!-- header -->
<div th:replace="site/header::header"></div>
<!-- header -->

<!-- main -->
<main role="main-inner-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2><span>Hi! </span> 个人博客 </h2>
        </header>
        <p>正在努力找工作</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article class="about-content">
<!--        font-size: 17px;-->
<!--        line-height: 30px;-->
        <p style="padding:1px; font-size: 25px;">山雀</p>
        <p style="padding:1px">自然赠予你</p>
        <p style="padding:1px">树冠 微风 肩头的暴雨</p>
        <p style="padding:1px">片刻后生成</p>
        <p style="padding:1px">平衡 忠诚 不息的身体</p>
        <p style="padding:1px">捕食饮水</p>
        <p style="padding:1px">清早眉间白云生</p>
        <p style="padding:1px">跳跃漫游</p>
        <p style="padding:1px">晚来拂面渤海风</p>
      </article>
    </section>

    <div class="clearfix"></div>

    <!-- thumbnails -->
    <div class="thumbnails-pan">
      <th:block th:each="link,linkStat : ${links}">
        <th:block th:if="${linkStat.index < 3}">
          <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
            <figure>
              <img th:src="@{'/site/images/about-images/about-image-' + ${linkStat.index+1} + '.jpg'}" th:onclick="'javascript:linkFirend(\''+${link.slug}+'\')'" class="img-responsive"/>
              <figcaption>
                <h3><th:block th:text="${link.name}"></th:block></h3>
                <h5><th:block th:text="${link.description}"></th:block></h5>
              </figcaption>
            </figure>
          </section>
        </th:block>
      </th:block>
    </div>
    <!-- thumbnails -->
  </div>
</main>
<!-- main -->

<!-- footer -->
<div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>
<!-- footer -->

</body>
</html>