<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attach</title>
    <link rel="stylesheet" href="/bootstrap-4.6.2-dist/css/bootstrap.min.css">

</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">关系对应</h1>
        <p class="lead">This is a simple blog website.</p>
        <!--        <p>当前用户：<span class="text-danger font-weight-bold" th:text="${username}"></span></p>-->
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">返回主页</a>
        <a class="btn btn-warning btn-lg" href="#" role="button">去新增用户</a>
        <a class="btn btn-info btn-lg" href="#">登出</a>
    </div>
</div>
<table class="table table-dark table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">fname</th>
        <th scope="col">ftype</th>
        <th scope="col">fkey</th>
        <th scope="col">authorId</th>
        <th scope="col">created</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a:${attachList}">
        <th scope="row" th:text="${a.id}"></th>
        <td th:text="${a.fname}"></td>
        <td th:text="${a.ftype}"></td>
        <td th:text="${a.fkey}"></td>
        <td th:text="${a.authorId}"></td>
        <td th:text="${a.created}"></td>
        <!--            <td class="space_td">-->
        <!--                <a class="btn btn-warning" th:href="'/user/toUpdate?id=' + ${user.id}" role="button">修改</a>-->
        <!--                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="此操作不可逆，请慎重!">-->
        <!--            <a class="btn btn-danger" th:href="'/user/delete?id=' + ${user.id}" role="button">删除</a>-->
        <!--            </span>-->
        <!--            </td>-->
    </tr>
    </tbody>
</table>

</body>
</html>