<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysite.dao.AttachDao">

    <select id="findAll" resultType="Attachment">
        select *
        from t_attach;
    </select>

    <select id="getAttachCounts" resultType="java.lang.Long">
        select count(*)
        from t_attach;
    </select>

    <!--    List<AttAchDto> getAtts();-->
    <select id="getAtts" resultType="com.example.mysite.dto.AttAchDto">
        SELECT aa.id, aa.fname, aa.ftype, aa.fkey, aa.authorId, aa.created, u.username
        from t_attach as aa left join t_users as u on aa.authorId=u.uid
        order by aa.created desc

    </select>


</mapper>
