<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysite.dao.UserDao">

    <select id="findAll" resultType="User">
        select *
        from t_users;
    </select>

    <select id="getUserInfoByCond" resultType="User">
        select * from t_users
        <where>
            <if test="username != null">
                AND username = #{username, jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--    User getUserInfoById(@Param("uid") Integer uId);-->
    <select id="getUserInfoById" resultType="User">
        select *
        from t_users
        where uid = #{uid}
    </select>



</mapper>
